[project]
	description = "Game Engine written in Go (using cgo opengl).  Probably won't ever actually work.  It's more of a project for the fun of it than to actually make something useful."
[access "refs/*"]
	owner = group user/nelsam (nelsam)
[access "refs/for/refs/*"]
	read = group user/nelsam (nelsam)
	push = group user/nelsam (nelsam)
	label-Code-Review = -2..+2 group user/nelsam (nelsam)
	label-Verified = -1..+1 group user/nelsam (nelsam)
	rebase = group user/nelsam (nelsam)
	removeReviewer = group user/nelsam (nelsam)
	submit = group user/nelsam (nelsam)
[access "refs/heads/*"]
	read = group user/nelsam (nelsam)
	create = group user/nelsam (nelsam)
	push = +force group user/nelsam (nelsam)
	pushMerge = group user/nelsam (nelsam)
[access "refs/tags/*"]
	push = +force group user/nelsam (nelsam)
	pushTag = group user/nelsam (nelsam)
	pushSignedTag = group user/nelsam (nelsam)
